body {
  background-color: rgba(0, 0, 0, 0.103);
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#addProject {
background: rgba(255, 255, 255, 0.685);
border: 0px solid #1C6EA4;
border-radius: 2px;
font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;
}


h5 {
  text-transform: uppercase;
  font: 600 30px/50px roboto, "Open Sans", Helvetica, sans-serif;
}

/* p {
  font: 600 8px/10px roboto, "Open Sans", Helvetica, sans-serif;
} */

.App {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  z-index: 1;
  text-align: center;
}

.stage {
  left: -30px;
  right: -30px;
  top: -30px;
  bottom: -30px;
  filter: blur(20px);

  overflow: hidden;
  position: absolute;

  z-index: -1;
}

.delete-button {
  background: rgba(255, 255, 255, 0);
  color: white
}
.edit-button {
  background: rgba(255, 255, 255, 0.048);
  color: white;
}

.todo-big-container {
  max-height: 80vh;
  max-width: 85vw;
}

.todo-container {
  max-height: 80vh;
  max-width: 85vw;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.todo-form {
  background: rgba(131, 129, 129, 0.26);
  border-radius: 8px;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 10px ; */
  
}

.todo-form input {
  /* display: contents; */
  border: none;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.877);
  margin: 8px;
  color: #000f00;
  padding: 8px;
  border-radius: 8px;
  /* width: 150px; */
}

#dark-mode {
  padding: 8px;
}

.todo-form #title {
  max-width: 12rem;
}
.todo-form #content {
  flex-grow: 3;
}

.todo-form #submit {
  background: #fff9;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.109);
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;
  
}

.todo-form #submit:hover {
  background: #fff6;
}

.todo-form #submit:active {
  background: #fff3;
}
.todo-form #submit:focus {
  outline: none;
}
.deleteTab {
  color: rgba(68, 63, 63, 0.76);
}

.todo-item {
  background: #ffffff71;
  filter: brightness(60%);
  flex-grow: 1;
  background: linear-gradient(
    to bottom,
    #0000003f 0%,
    #ebe9e923 26%,
    #00000038 100%);

  min-height: 15vh;
  min-height: 15vh;
  display: flex;
  min-width: 19vw;
  justify-content: space-between;
  border: 1px solid rgb(251, 251, 251);
  border-radius: 6px;
  margin: 1px;
}

.edit-todo-form {
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: 100%;
}

.edit-todo-form input {
  border: 3px solid rgb(251, 251, 251);
  background: rgba(255, 255, 255, 0);
}

.edit-todo-form textarea {
  border: 3px solid rgb(251, 251, 251);
  background: rgba(255, 255, 255, 0);
}

.todo-item:hover {
  background: rgba(255, 255, 255, 0);
}

.todo-action {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.todo-action button {
  width: 50px;
  height: 25px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  margin: 8px;
  cursor: pointer;
}

.todo-action button:hover {
  background: rgba(102, 102, 102, 0.103);
  color: white;
}

.todo-action button:active {
  background: darkred;
  color: white;
}

.todo-action button:focus {
  outline: none;
}
.todo-content {
  display: flex;
  margin: 8px;
  flex-direction: column;
  align-items: flex-start;
}

.todo-content h6 {
  font-size: 1.8rem;
  margin: 4px;
}

.todo-content p {
  font-size: 1.2rem;
  margin: 4px;
}

.switcher-box {
  list-style: none;
  padding: 0;
  margin: 40px 0;
  text-align: center;
}

.switcher-box a.skin-gray-black span {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1YmRjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODM0M2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
.switcher-box a.skin-black-glass span {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FlYmNiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzZlNzc3NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzBhMGUwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTA4MDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

/* Tabbed Styles */
.tabbed {
  width: 84vw;
  border-bottom: 4px solid rgb(255, 2, 2);
  transition: border 250ms ease;
}
.tabbed ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  float: left;
  padding-left: 48px;
  list-style-type: none;
}
.tabbed ul * {
  margin: 0px;
  padding: 0px;
}
.tabbed ul li {
  display: block;
  float: right;
  padding: 10px 24px 8px;
  background-color: rgb(207, 114, 114);
  margin-right: 46px;
  z-index: 2;
  position: relative;
  cursor: pointer;
  color: rgb(20, 14, 14);

  text-transform: uppercase;
  font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;

  transition: all 250ms ease;
}
.tabbed ul li:before,
.tabbed ul li:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 44px;
  background-color: rgb(255, 255, 255);
  transition: all 250ms ease;
}
.tabbed ul li:before {
  right: -24px;
  transform: skew(30deg, 0deg);
  box-shadow: rgba(0, 0, 0, 0.1) 3px 2px 5px,
    inset rgba(214, 44, 44, 0.09) -1px 0;
}
.tabbed ul li:after {
  left: -24px;
  transform: skew(-30deg, 0deg);
  box-shadow: rgba(0, 0, 0, 0.1) -3px 2px 5px,
    inset rgba(255, 255, 255, 0.09) 1px 0;
}
.tabbed ul li:hover,
.tabbed ul li:hover:before,
.tabbed ul li:hover:after {
  background-color: #f4f7f9;
  color: rgb(185, 20, 20)184, 0, 0;
}
.tabbed ul li.active {
  z-index: 3;
}
.tabbed ul li.active,
.tabbed ul li.active:before,
.tabbed ul li.active:after {
  background-color: #000;
  color: #fff;
}

/* Round Tabs */
.tabbed.round ul li {
  border-radius: 8px 8px 0 0;
}
.tabbed.round ul li:before {
  border-radius: 0 8px 0 0;
}
.tabbed.round ul li:after {
  border-radius: 8px 0 0 0;
}

/* Skins */
.tabbed[class*="skin-"] ul li {
  color: rgba(2, 1, 1, 0.74);
  text-shadow: rgba(97, 95, 95, 0.322) 0 2px;
}
/* _____________________________________________________________________Tab Bottom______________________________________________________________ */
.tabbed.skin-black-glass {
  border-bottom-color: rgba(255, 255, 255, 0.913);
}
.tabbed.skin-black-glass,
.tabbed.skin-black-glass ul li,
.tabbed.skin-black-glass ul li:before,
.tabbed.skin-black-glass ul li:after {
  transition: none;
}
.tabbed.skin-black-glass ul li,
.tabbed.skin-black-glass ul li:before,
.tabbed.skin-black-glass ul li:after {
  background: linear-gradient(
    to bottom,
    #4b49495b 0%,
    #ebe9e941 36%,
    rgba(126, 125, 125, 0.404) 100%
  );;
}
.tabbed.skin-black-glass ul li:hover,
.tabbed.skin-black-glass ul li:hover:before,
.tabbed.skin-black-glass ul li:hover:after {
  background-color: rgba(68, 68, 68, 0.2);
}
.tabbed.skin-black-glass ul li.active,
.tabbed.skin-black-glass ul li.active:before,
.tabbed.skin-black-glass ul li.active:after {
  background: #949494;
  background: -moz-linear-gradient(top, #949494 0%, #c7c7c7 26%, #000000 100%);
  background: -webkit-linear-gradient(
    top,
    #444242 0%,
    #867d7d 26%,
    #3a3232 100%
  );
  background: linear-gradient(
    to bottom,
    #3b3a3ac9 0%,
    #5c5959 26%,
    rgba(255, 255, 255, 0.931) 100%
  );
}







.switch {
  --line: #505162;
  --dot: #f7f8ff;
  --circle: #9ea0be;
  --duration: 0.3s;
  --text: #9ea0be;
  cursor: pointer;
}
.switch input {
  display: none;
}
.switch input + div {
  position: relative;
}
.switch input + div:before, .switch input + div:after {
  --s: 1;
  content: "";
  position: absolute;
  height: 4px;
  top: 10px;
  width: 24px;
  background: var(--line);
  -webkit-transform: scaleX(var(--s));
          transform: scaleX(var(--s));
  transition: -webkit-transform var(--duration) ease;
  transition: transform var(--duration) ease;
  transition: transform var(--duration) ease, -webkit-transform var(--duration) ease;
}
.switch input + div:before {
  --s: 0;
  left: 0;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  border-radius: 2px 0 0 2px;
}
.switch input + div:after {
  left: 28px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  border-radius: 0 2px 2px 0;
}
.switch input + div span {
  padding-left: 56px;
  line-height: 24px;
  color: var(--text);
}
.switch input + div span:before {
  --x: 0;
  --b: var(--circle);
  --s: 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--s) var(--b);
  -webkit-transform: translateX(var(--x));
          transform: translateX(var(--x));
  transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: box-shadow var(--duration) ease, transform var(--duration) ease;
  transition: box-shadow var(--duration) ease, transform var(--duration) ease, -webkit-transform var(--duration) ease;
}
.switch input + div span:not(:empty) {
  padding-left: 64px;
}
.switch input:checked + div:before {
  --s: 1;
}
.switch input:checked + div:after {
  --s: 0;
}
.switch input:checked + div span:before {
  --x: 28px;
  --s: 12px;
  --b: var(--dot);
}
